$heading-font-family: "Ofelia"
$body-font-family: "Inter"

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$footer-logo-height-desktop: 95px