$heading-font-family: "Ofelia"
$body-font-family: "Inter"

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$footer-logo-height-desktop: 95px

$color-text: #282F50

$color-heading: #2A559A

$h1-size-desktop: pxToRem(59)
$h1-weight: bold

$h2-size-desktop: pxToRem(36)
$h2-weight: bold

$h3-size-desktop: pxToRem(26)
$h3-weight: 400

$h4-size-desktop: pxToRem(22)
$h4-weight: 400

$h5-size-desktop: pxToRem(16)
$h5-weight: 400

$color-accent: #2A559A
