body
    font-weight: $body-weight

.block-features ul 
    @include in-page-without-sidebar
        @include grid(2, desktop)

h2,h3,h4,h5,h6
    color: $color-heading

// header : bannière avec logo + menu
header#document-header
    .logo 
        .logo-color
            display: none
    // ici pour éviter de réécrire toute la ligne `border: 1px...` on réassigne la variable css
    --color-border: #{$header-color}
    .menu
        span, a, button
            font-weight: bold
    &.is-sticky
        // en l'absence de logo bleu, on inverse la couleur de blanc vers noir
        // dans l'idéal, ajouter un 2e logo à afficher à la place - logo dispo '/assets/images/logo-SEnRgies-color-header.svg'
        .logo
            .logo-white
                display: none
            .logo-color
                display: block
            

.block-features li figure picture img
    display: block
    margin-left: 0
    margin-right: auto

.page__home
    .hero--with-image
        padding-top: 0 !important
        padding-bottom: 0
        .content
            align-items: center
            justify-content: center
            padding-top: 0
            h1
                text-align: center
            .hero-text 
                position: absolute
                z-index: 8
                padding-left: 0 !important
                @include media-breakpoint-up(desktop)
                    width: columns(12)
                @include media-breakpoint-up(xxl)
                    width: columns(8)
                @include media-breakpoint-up(xxxl)
                    width: columns(11)
            figure
                width: 100%
                img
                    object-fit: cover
                    height: 100vh
                figcaption::before, .credit
                    background: var(--color-background)
                    color: var(--color-text)
        &::after,
        &::before
            content: ''
            position: absolute
            pointer-events: none
        &::before
            // ici le logo snergie dans `/assets/images/hero/senrgies.png`-- a completer / en 
            background-image: url('/assets/images/hero/senrgies.png')
            background-size: cover
            margin-top: 190px
            height: pxToRem(500)
            width: 100%
            z-index: 2
            @include media-breakpoint-up(desktop)
                height: pxToRem(500)
                width: pxToRem(450)
            @include media-breakpoint-down(mobile)
                height: pxToRem(400)
                width: pxToRem(350)
            
        &::after
            // ici dans l'idéal un svg
            background-image: url('/assets/images/hero/agglo.svg')
            background-size: cover
            bottom: 0
            right: 0
            height: pxToRem(183)
            width: 100%
            @include media-breakpoint-up(desktop)
                height: pxToRem(210)
                width: pxToRem(450)
            @include media-breakpoint-down(mobile)
                height: pxToRem(180)
                width: pxToRem(370)

        @include media-breakpoint-up(desktop)
            .container
                padding-left: 0
                padding-right: 0
                max-width: unset
                max-height: 100vh
                width: 100%
                figcaption
                    margin-left: auto
                    margin-right: auto
                    padding-left: var(--grid-gutter)
                    padding-right: var(--grid-gutter)
                    width: var(--grid-width)
                figcaption::before
                    padding-right: var(--grid-gutter)
        @include media-breakpoint-down(desktop)
            &:has(figcaption)::after
                bottom: pxToRem(37)
            .content
                display: flex
                align-items: center
            figure
                width: calc(100% + (var(--grid-gutter) * 2)) !important
                img
                    aspect-ratio: 1
                    object-fit: cover

    .block-contact
        margin-top: 0

.block-chapter
    @include in-page-without-sidebar
        padding-top: $spacing-5
        padding-bottom: $spacing-5

.block-chapter.block-class-green
    background-color: $color-dark-green
    background-image: url(/assets/images/eye3.svg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: left bottom

.block-chapter--alt_background
    background-image: url(/assets/images/eye-blue.svg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: right bottom
    .block-title
        @include h2
    &:not(.block-chapter--with-image)
        @include in-page-without-sidebar
            padding-top: $spacing-6
            padding-bottom: $spacing-6
            .text
                width: columns(12)
        

.block-chapter--accent_background
    .block-title
        @include h2
        color: $color-background
    .rich-text
        @include h3
    .notes
        @include body-text
    @include in-page-without-sidebar
        .chapter
            flex-direction: row-reverse
        &.block-chapter--with-image
            padding: 0
            .chapter
                gap: var(--grid-gutter)
                @include media-breakpoint-up(xl)
                    align-items: center
                    gap: $spacing-6
                > *
                    flex: 1
                figure
                    img, picture, button
                        height: 100%
                        width: auto
                    img
                        object-fit: cover
                    @include media-breakpoint-down(xxxl)
                        margin-left: var(--grid-gutter-negative)
                .text
                    padding: $spacing-5 0
    

.block-title.block-class-hidden
    @extend .sr-only
    // ici on vient appliquer la même marge que sur les autres blocs
    // dans le cas des blocs masqués suivi d'un autre bloc
    + .block:not(.block-contact, .block-class-green)
        margin-top: var(--heading-margin-top)

.block-chapter.block-class-intro-center
    .chapter
        @include in-page-without-sidebar
            flex-direction: column
            gap: $spacing-4
            .text
                width: columns(8)
                text-align: center
            figure
                width: columns(6)
        
        > *
            margin: auto
    .text
        @include h3
        color: $color-heading
        b
            color: $color-green

.block-features
    li 
        div > div p 
            b
            @include h4
            margin-bottom: $spacing-2
            display: block
            color: $color-accent

        .name
            @include h4
            font-weight: bold
            margin: 0
    @include in-page-without-sidebar
        ul 
            grid-gap: $spacing-5 $spacing-6

.block-contact
    color: $color-background
    background: $color-accent
    .block-title, a
        color: $color-background
    .block-title
        @include h2
    .contacts
        h3,h4,h5
            @extend .sr-only
    @include in-page-without-sidebar
        padding-top: $spacing-6
        padding-bottom: $spacing-6
        .block-content 
            display: flex
            align-items: baseline
        .top, .block-title
            margin-bottom: 0
            
            
        .contact-content, .contacts
            margin-top: 0
        .contact-content
            flex: 1
            .contacts
                @include h3
                font-weight: normal
                display: flex
                justify-content: flex-end
                gap: $spacing-5
            @include media-breakpoint-up(xl)
                width: columns(6)
        .top
            flex: 1
            .block-title
                width: 100%
    @include media-breakpoint-down(desktop)
        padding: $spacing-3 0

//h2 accordeon changement de font
.block.block-title--collapsed
    h2
        @include h3
        font-family: $body-font-family
        font-weight: normal
    &:hover
        h2, &::before
            color: $color-dark-green

.collapse
    @include in-page-without-sidebar
        .block:first-child
            
            &.block-chapter--no_background 
                .chapter
                    .text
                        width: columns(9)
                        @include h4
                        font-weight: 500
                        color: $color-accent

.block-title--classic + .block-title--collapsed
    margin-top: $spacing-4 !important

//h2 accordeon elargissement grille titre                   
.block.block-title--collapsed
    margin-bottom: var(--heading-margin-bottom)
    &:not(:first-child)
        margin-top: var(--heading-margin-top)
    @include in-page-with-sidebar
        &::after
            width: columns(11)
            margin-left: auto
    @include in-page-without-sidebar
        h2
            max-width: columns(11)

    // attention : le bloc de titre "collapsed" ne contient rien d'autre que son h2
    // c'est la div avec la class "collapse" qui contient les blocs de l'accordéon
    // pour éviter les effets de bord, on cible .collapse avec le "+", 
    // cela signifie : "pour toutes les class "collapse" précédées par un .block-title--collapsed"
    + .collapse
        @include in-page-without-sidebar
            .block-chapter
                padding-top: 0
                padding-bottom: 0
                margin-bottom: 0

//h2 accordeon elargissement grille                   
.block-chapter.block-chapter--no_background.block-chapter--with-image
    .chapter
        @include in-page-without-sidebar
            gap: $spacing-4
            .text
                width: columns(8)
            figure
                width: columns(6)

//image fond de hero page contenu
.hero
    background-image: url(/assets/images/eye-dark-bg.svg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: right top
   

//couleur breadcrumb
.breadcrumb li:not(:first-child)::before
    color: $color-background

// footer

//font footer
.footer-legals
    font-family: $body-font-family
.footer-credit
    font-family: $body-font-family  

// footer : marge et alignement
footer#document-footer
  @include media-breakpoint-up(desktop)
    padding-top: 0
    .container
    //   display: flex  // pas nécessaire: déjà dans le thème osuny
    //   justify-content: space-between  // pas nécessaire: déjà dans le thème osuny
      padding-bottom: 0
    //   flex-direction: column  // pas nécessaire: déjà dans le thème osuny
      + .container
        // align-items: flex-end // pas nécessaire
        padding-top: 0
        padding-bottom: 0
  @include media-breakpoint-down(desktop)
    padding-top: 0
    .container + .container 
        margin-top: $spacing-1
        .footer-legals
            margin-top: $spacing-3

// on utilise l'ID (#) pour être sûr.e d'overider le style de base et de cibler le bon footer
footer#document-footer
    .footer-social, .footer-site
        display: none
    
    @include media-breakpoint-up(desktop)
        display: flex
        .container
            display: flex
            justify-content: space-between
            padding-bottom: $spacing-3
            + .container
                align-items: flex-end
                padding-top: $spacing-3
                padding-bottom: 0
        .container:first-child 
            padding-right: 0
        .container:last-child 
            padding-left: 0
            padding-top: 0
        .nav-legal
            @include grid(2)
            row-gap: 4px
            column-gap: $spacing-4
            font-weight: bold
            a
                color: $color-accent
            li
                margin-top: 0
        .footer-credit
            text-align: left
            font-size: 14px
            margin-top: $spacing-3

        
        
        .footer-legals
            width: 100%
            

      
        
        // étape 1 : aligner les deux `.container` sur la même ligne -> jeu de flex avec un gap
        // la class `.container` a des spécificités : elle a des paddings horizontaux qui nous gènent
        // donc :
        // container 1 : enlever le padding à droite
        // container 2 : enlever le padding gauche

        // étape 2 : aligner les 4 liens légaux
        // ça se passe dans `.nav-legal` -> cette fois pour bien aligner par 2 on utilise plutôt `@include grid(x)`
        // bien gérer le grid-gap pour le réduire
        // on a codé le fait que chaque <li> à la suite d'un autre a une marge (top), c'est ce sélecteur : `li + li`
        // il faut enlever cette marge

        // étape 3 : apparence du crédit "un site éco-conçu..."
        // aligner le texte à droite
        // changer la taille du texte avec un `pxToRem(14)` (jamais sous 14px pour l'accessibilité)