.block-features ul 
    @include in-page-without-sidebar
        @include grid(2, desktop)


h1,h2,h3,h4,h5,h6
    color: $color-heading

.block-features li figure picture img
  display: block
  margin-left: 0
  margin-right: auto

.hero
    background-image: url(/assets/images/background.jpg)
    background-size: cover

    // comment

.hero h1
  font-size: 59px
  color: #FFFFFF
  text-align: center

.hero
    .content
        .hero-text
            @include media-breakpoint-up(desktop)
                padding-left: offset(1)
                width: columns(10)

.block-chapter.block-class-green
    background-color: $color-dark-green
    background-image: url(/assets/images/eye3.svg)
    background-repeat: no-repeat
    background-attachment: fixed
     
.block-chapter--accent_background
  .block-title
    @include h2
  .rich-text
    @include h3
  .notes
    @include body-text
  @include in-page-without-sidebar
    .chapter
      flex-direction: row-reverse
      figure
        margin-left: var(--grid-gutter-negative)
        width: columns(5)
      .text
        width: columns(6)
    &.block-chapter--with-image
      padding: 0
      .chapter
        
        justify-content: flex-end
        gap: var(--grid-gutter)
        align-items: center
  

.block .block-title
  color: #FFFFFF        // texte en blanc
  font-weight: bold         // espacement interne
  text-transform: none

.block-title.block-class-hidden
  @extend .sr-only

.block-chapter.block-class-intro-center
  .chapter
    @include in-page-without-sidebar
      flex-direction: column
      gap: $spacing-4
      .text
        width: columns(8)
        text-align: center
      figure
        width: columns(6)
      
      > *
        margin: auto
    .text
      @include h3
      color: $color-heading
      b
        color: $color-green


  
