.block-features ul 
    @include in-page-without-sidebar
        @include grid(2, desktop)


h2,h3,h4,h5,h6
    color: $color-heading

.block-features li figure picture img
    display: block
    margin-left: 0
    margin-right: auto

.hero
    //background-image: url(/assets/images/background.jpg)
    padding: 0
    
    .container 
        padding: 0
    .content
        align-items: center
        justify-content: center 
        .hero-text 
            position: absolute
            z-index: 8
            padding-left: 0 !important
        figure
            width: 100%
            //margin: 0 var(--grid-gutter-negative)
    background-size: cover

.hero h1
  text-align: center

.hero
    .content
        .hero-text
            @include media-breakpoint-up(desktop)
                padding-left: offset(1)
                width: columns(10)

.block-chapter
  @include in-page-without-sidebar
    padding-top: $spacing-5
    padding-bottom: $spacing-5

.block-chapter.block-class-green
    background-color: $color-dark-green
    background-image: url(/assets/images/eye3.svg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: left bottom

.block-chapter--alt_background
  .block-title
    @include h2
  &:not(.block-chapter--with-image)
     @include in-page-without-sidebar
      padding-top: $spacing-6
      padding-bottom: $spacing-6
      .text
        width: columns(12)
 
.block-chapter--alt_background, .block-chapter--accent_background
    + .block-contact
        margin-top: 0
        

.block-chapter--accent_background
    .block-title
        @include h2
        color: $color-background

    .rich-text
        @include h3
    .notes
        @include body-text
    @include in-page-without-sidebar
        .chapter
            flex-direction: row-reverse
        &.block-chapter--with-image
            padding: 0
            .chapter
                justify-content: flex-end
                gap: var(--grid-gutter)
                align-items: center
                figure
                    margin-left: var(--grid-gutter-negative)
                    width: columns(7)
                .text
                    flex: 1
    

.block-title.block-class-hidden
    @extend .sr-only

.block-chapter.block-class-intro-center
  .chapter
    @include in-page-without-sidebar
        flex-direction: column
        gap: $spacing-4
        .text
            width: columns(8)
            text-align: center
        figure
            width: columns(6)
      
        > *
            margin: auto
    .text
      @include h3
      color: $color-heading
      b
        color: $color-green

.block-features
    li 
      div > div p 
        b
          @include h4
          margin-bottom: $spacing-2
          display: block
          color: $color-accent

      .name
        @include h4
        font-weight: bold
        margin: 0
    ul 
      @include in-page-without-sidebar
        grid-gap: $spacing-5 $spacing-6

.block-contact
    color: $color-background
    background: $color-accent
    .block-title, a
        color: $color-background
    .block-title
        @include h2
    @include in-page-without-sidebar
        padding-top: $spacing-6
        padding-bottom: $spacing-6
        
        .block-content 
            display: flex
            align-items: baseline
        .top, .block-title
            margin-bottom: 0
        .contact-content, .contacts
            margin-top: 0
        .contact-content
            width: columns(6)
            .contacts
                @include h3
                font-weight: normal
                @include grid(2)
                gap: $spacing-3
        .top
            flex: 1
            

    .contacts
        h3,h4,h5
            @extend .sr-only


